// This file is used to style the iframe that is injected into the page
.crx-iframe {
  border: none;
  border-radius: var(--sg-radius-8px);
  box-shadow:
    var(--sg-shadow-0-2px-4px-rgba-0-0-0-0d1),
    var(--sg-shadow-0-1px-3px-rgba-0-0-0-0d2);
  background-color: var(--sg-color-surface-raised);
  margin: var(--sg-space-2rem);
  position: fixed;
  bottom: 0;
  right: 0;
  width: var(--sg-size-min-100pct-420px);
  min-height: var(--sg-extension-iframe-min-height);
}
