body {
  margin: 0;
  min-width: var(--sg-size-320px);
  min-height: var(--sg-size-100vh);
  font-family: var(--sg-font-family);
  line-height: var(--sg-line-height-1d5);
  background-color: var(--sg-color-background);
  color: var(--sg-color-text);
}

.cursor-pointer {
  cursor: pointer;
}
